/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/* Style pour la boîte de sponsor */
.sponsor-box {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

/* Style pour le label de nom */
.name-label {
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

/* Style pour le label d'email */
.email-label {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
}

/* Style pour l'image de logo */
.logo-image {
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.5, 0, 0);
}
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
.sponsor-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}